* {
    box-sizing: border-box;
}

:root {}


.rotating-card-container .card .back:after,
.rotating-card-container .card .front:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    border-radius: .5rem;
    background-image: linear-gradient(195deg, #ec407a, #d81b60);
    opacity: .85
}

.btn-primary {
    color: #000;
    background-color: #e91e63;
    border-color: #e91e63;
}

.btn-primary:hover {
    color: #000;
    background-color: #ec407a;
    border-color: #eb3573;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #000;
    background-color: #ec407a;
    border-color: #eb3573;
    box-shadow: 0 0 0 0.2rem rgba(198, 26, 84, 0.5);
}

.btn-check:checked+.btn-primary,
.btn-check:active+.btn-primary,
.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
    color: #000;
    background-color: #ed4b82;
    border-color: #eb3573;
}

.btn-check:checked+.btn-primary:focus,
.btn-check:active+.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(198, 26, 84, 0.5);
}

.btn-primary:disabled,
.btn-primary.disabled {
    color: #000;
    background-color: #e91e63;
    border-color: #e91e63;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn.bg-gradient-primary:not(:disabled):not(.disabled).active,
.btn.bg-gradient-primary:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-primary.dropdown-toggle {
    color: color-yiq(#e91e63);
    background-color: #e91e63;
}

.btn-primary:hover,
.btn.bg-gradient-primary:hover {
    background-color: #e91e63;
    border-color: #e91e63;
    box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.4), 0 4px 23px 0 rgba(233, 30, 99, 0.15), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
}

.btn-primary,
.btn.bg-gradient-primary {
    box-shadow: 0 3px 3px 0 rgba(233, 30, 99, 0.15), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.15);
}

.single-menu {
    background-color: #fff;
    /* box-shadow: 0px 10px 30px 0px rgba(182, 136, 52, 0.2); */
    border-radius: 10px;
    padding: 30px 30px;
    margin-bottom: 30px;
}

.menu-area{
    margin-top: 2rem;
}